
midterm_cache/latex/__packages
midterm_cache/latex/unnamed-chunk-10_afe8a2eaf48cb5441cf5d8e08b977008.RData
midterm_cache/latex/unnamed-chunk-10_afe8a2eaf48cb5441cf5d8e08b977008.rdb
midterm_cache/latex/unnamed-chunk-10_afe8a2eaf48cb5441cf5d8e08b977008.rdx
midterm_cache/latex/unnamed-chunk-11_afdc1e2f868153df13993999fcd8604b.RData
midterm_cache/latex/unnamed-chunk-11_afdc1e2f868153df13993999fcd8604b.rdb
midterm_cache/latex/unnamed-chunk-11_afdc1e2f868153df13993999fcd8604b.rdx
midterm_cache/latex/unnamed-chunk-12_a908e375de48ebdbdeb0827dab2f4cbf.RData
midterm_cache/latex/unnamed-chunk-12_a908e375de48ebdbdeb0827dab2f4cbf.rdb
midterm_cache/latex/unnamed-chunk-12_a908e375de48ebdbdeb0827dab2f4cbf.rdx
midterm_cache/latex/unnamed-chunk-13_24f6ba3f037d88a1fc8d108c0aa80d3d.RData
midterm_cache/latex/unnamed-chunk-13_24f6ba3f037d88a1fc8d108c0aa80d3d.rdb
midterm_cache/latex/unnamed-chunk-13_24f6ba3f037d88a1fc8d108c0aa80d3d.rdx
midterm_cache/latex/unnamed-chunk-14_74622082212871b97d27f62cd7166acc.RData
midterm_cache/latex/unnamed-chunk-14_74622082212871b97d27f62cd7166acc.rdb
midterm_cache/latex/unnamed-chunk-14_74622082212871b97d27f62cd7166acc.rdx
midterm_cache/latex/unnamed-chunk-15_afe014f761d544ac20c08fde394dc698.RData
midterm_cache/latex/unnamed-chunk-15_afe014f761d544ac20c08fde394dc698.rdb
midterm_cache/latex/unnamed-chunk-15_afe014f761d544ac20c08fde394dc698.rdx
midterm_cache/latex/unnamed-chunk-16_98919d7634dc95105f98e8efb6c50029.RData
midterm_cache/latex/unnamed-chunk-16_98919d7634dc95105f98e8efb6c50029.rdb
midterm_cache/latex/unnamed-chunk-16_98919d7634dc95105f98e8efb6c50029.rdx
midterm_cache/latex/unnamed-chunk-17_3477924a780bebebea1669aaacf81c00.RData
midterm_cache/latex/unnamed-chunk-17_3477924a780bebebea1669aaacf81c00.rdb
midterm_cache/latex/unnamed-chunk-17_3477924a780bebebea1669aaacf81c00.rdx
midterm_cache/latex/unnamed-chunk-18_c1ad6044f3346aa09c569c7a68d2a377.RData
midterm_cache/latex/unnamed-chunk-18_c1ad6044f3346aa09c569c7a68d2a377.rdb
midterm_cache/latex/unnamed-chunk-18_c1ad6044f3346aa09c569c7a68d2a377.rdx
midterm_cache/latex/unnamed-chunk-19_d8dbbdf9fe6c36aa736586fd64fdaeaf.RData
midterm_cache/latex/unnamed-chunk-19_d8dbbdf9fe6c36aa736586fd64fdaeaf.rdb
midterm_cache/latex/unnamed-chunk-19_d8dbbdf9fe6c36aa736586fd64fdaeaf.rdx
midterm_cache/latex/unnamed-chunk-2_e2a953e4df359fcda8b77dab9e7789b7.RData
midterm_cache/latex/unnamed-chunk-2_e2a953e4df359fcda8b77dab9e7789b7.rdb
midterm_cache/latex/unnamed-chunk-2_e2a953e4df359fcda8b77dab9e7789b7.rdx
midterm_cache/latex/unnamed-chunk-3_90ba014f48ef3ffc7624524a5467fb75.RData
midterm_cache/latex/unnamed-chunk-3_90ba014f48ef3ffc7624524a5467fb75.rdb
midterm_cache/latex/unnamed-chunk-3_90ba014f48ef3ffc7624524a5467fb75.rdx
midterm_cache/latex/unnamed-chunk-4_96c7f3296b4b5cee58f62e329c75cc2a.RData
midterm_cache/latex/unnamed-chunk-4_96c7f3296b4b5cee58f62e329c75cc2a.rdb
midterm_cache/latex/unnamed-chunk-4_96c7f3296b4b5cee58f62e329c75cc2a.rdx
midterm_cache/latex/unnamed-chunk-5_008c15174278ace203094675b87460e5.RData
midterm_cache/latex/unnamed-chunk-5_008c15174278ace203094675b87460e5.rdb
midterm_cache/latex/unnamed-chunk-5_008c15174278ace203094675b87460e5.rdx
midterm_cache/latex/unnamed-chunk-6_095b8eeb95220ddeb568e4100cf1acb2.RData
midterm_cache/latex/unnamed-chunk-6_095b8eeb95220ddeb568e4100cf1acb2.rdb
midterm_cache/latex/unnamed-chunk-6_095b8eeb95220ddeb568e4100cf1acb2.rdx
midterm_cache/latex/unnamed-chunk-7_b73ee94fd3215bcc988397b29a1cca27.RData
midterm_cache/latex/unnamed-chunk-7_b73ee94fd3215bcc988397b29a1cca27.rdb
midterm_cache/latex/unnamed-chunk-7_b73ee94fd3215bcc988397b29a1cca27.rdx
midterm_cache/latex/unnamed-chunk-8_ef4108e31381e63493bfaae470beea84.RData
midterm_cache/latex/unnamed-chunk-8_ef4108e31381e63493bfaae470beea84.rdb
midterm_cache/latex/unnamed-chunk-8_ef4108e31381e63493bfaae470beea84.rdx
midterm_cache/latex/unnamed-chunk-9_0031705374869e78d0f1b22ceeef3e75.RData
midterm_cache/latex/unnamed-chunk-9_0031705374869e78d0f1b22ceeef3e75.rdb
midterm_cache/latex/unnamed-chunk-9_0031705374869e78d0f1b22ceeef3e75.rdx
midterm_files/figure-latex/unnamed-chunk-10-1.pdf
midterm_files/figure-latex/unnamed-chunk-11-1.pdf
midterm_files/figure-latex/unnamed-chunk-12-1.pdf
midterm_files/figure-latex/unnamed-chunk-15-1.pdf
midterm_files/figure-latex/unnamed-chunk-16-1.pdf
midterm_files/figure-latex/unnamed-chunk-17-1.pdf
midterm_files/figure-latex/unnamed-chunk-18-1.pdf
midterm_files/figure-latex/unnamed-chunk-2-1.pdf
midterm_files/figure-latex/unnamed-chunk-2-2.pdf
midterm_files/figure-latex/unnamed-chunk-2-3.pdf
midterm_files/figure-latex/unnamed-chunk-3-1.pdf
midterm_files/figure-latex/unnamed-chunk-4-1.pdf
midterm_files/figure-latex/unnamed-chunk-5-1.pdf
midterm_files/figure-latex/unnamed-chunk-5-2.pdf
midterm_files/figure-latex/unnamed-chunk-6-1.pdf
midterm_files/figure-latex/unnamed-chunk-6-2.pdf
midterm_files/figure-latex/unnamed-chunk-7-1.pdf
midterm_files/figure-latex/unnamed-chunk-8-1.pdf
midterm_files/figure-latex/unnamed-chunk-9-1.pdf
